<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify profile</title>
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/067bd4d624.js" crossorigin="anonymous"></script>
</head>

<body>
   
    

    <div class="container">
        <nav class="sidebar">
            <img src="https://cdn.iconscout.com/icon/free/png-256/spotify-11-432546.png" alt="" class="sidebar__logo">
            <div class="sidebar__link">
                <div class="sidebar__link-container active" id="profile">
                    <i class="fas fa-user sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Profile</span>
                </div>
                <div class="sidebar__link-container" id='top-tracks'>
                    <i class="fas fa-music sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Top Tracks</span>
                </div>
                <div class="sidebar__link-container" id='top-artists'>
                    <i class="fas fa-guitar sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Top Artist</span>
                </div>
                <div class="sidebar__link-container" id="recent">
                    <i class="fas fa-history sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Recent</span>
                </div>
                <div class="sidebar__link-container" id='playlist'>
                    <i class="fas fa-list-alt sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Playlist</span>
                </div>

            </div>

        </nav>


        <main class="content" id="profileSec">
            <div class="mode-button">
                <span>Display Mode</span>
                <input type="checkbox" class="mode-button-btn" id="mode">
                <label for="mode" class="mode-button-label"> 
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                   
                     <div class="ball"></div>
                </label>
               
             
            </div>
        
            <section class="profile">
                <div class="profile__container">
                    <img src=" <% if (user.images.length >0) { %>
                        <%= user.images[0].url %> 
                    <% } else{%>
                        https://www.kindpng.com/picc/m/130-1300217_user-icon-member-icon-png-transparent-png.png
                        <% } %>  " alt="" class="profile__image">
                    <h1 class="profile__name"><%= user.display_name %> </h1>

                    <div class="profile__info">
                        <div class="profile__info-container">
                            <div class="profile__info-number"><%= user.followers.total %> </div>
                            <div class="profile__info-title">Followers</div>
                        </div>
                        <div class="profile__info-container">
                            <div class="profile__info-number"><%= following.artists.total %> </div>
                            <div class="profile__info-title">Following</div>
                        </div>
                        <div class="profile__info-container">
                            <div class="profile__info-number"><%= playlists.items.length %></div>
                            <div class="profile__info-title">Playlists </div>
                        </div>
                        <!-- <div class="profile__info-logout">
                            <a href="" class="btn btn-primary large">Logout</a>
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="top-stats">
                <div class="top-stats__container">
                    <div class="top-stats__heading">
                        <h1>Top Artists of All Time
                        </h1> <button class="btn btn-primary small see_more" id="top-artistsS">See more</button>
                    </div>
                    <% var count = 0 %>
                    <% artistLong.items.forEach(function(artist) { %>

                    <% if (count<10) { %>
                    <div class="track__li">
                        <img src="<%= artist.images[2].url  %> " alt="" class="track__image-track">
                        <div class="track__name-container artist">
                            <span class="track__name-track"><%= artist.name %> </span>
                        </div>
                    </div>
                    <% count++;} %>

                    <% }) %>

                </div>
                <div class="track__container main-track">
                    <div class="top-stats__heading">
                        <h1>Top Tracks of All Time
                        </h1> <button href="" class="btn btn-primary small see_more" id="top-tracksS">See more</button>
                    </div>
                    <% var count = 0 %>
                    <% trackLong.items.forEach(function(track) { %>
                    <% if (count<10) { %>
                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>
                    <% count++;} %>

                    <% }) %>

                </div>
            </section>
        </main>
        <main class=" content" id='top-tracksSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Top Tracks</h2>
                    <div class="top-nav__link-container">
                        <div class="top-nav__link t " id="shortTerm">Last 4 months </div>
                        <div class="top-nav__link t" id="mediumTerm">Last 6 months </div>
                        <div class="top-nav__link t active" id="longTerm">All Time </div>
                    </div>
                </div>
                <div class="track__container t" id="longTermDivT">
                    <% trackLong.items.forEach(function(track) { %>
                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="track__container t" id="mediumTermDivT" style="display: none;">
                    <% trackMedium.items.forEach(function(track) { %>
                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="track__container t" id="shortTermDivT" style="display: none;">
                    <% trackShort.items.forEach(function(track) { %>
                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>
                    <% }) %>
                </div>


        </main>

        <main class=" content" id='top-artistsSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Top Artists</h2>
                    <div class="top-nav__link-container">
                        <div class="top-nav__link a" id="shortTerm">Last 4 months </div>
                        <div class="top-nav__link a" id="mediumTerm">Last 6 months </div>
                        <div class="top-nav__link a active" id="longTerm">All Time </div>
                    </div>
                </div>
                <div class="artist__container a" id="longTermDivA">
                    <% artistLong.items.forEach(function(artist) { %>
                    <div class="artist">
                        <img src="<%= artist.images[0].url %> " alt="" class="artist__img">
                        <span class="artist__name">
                            <%= artist.name %>
                        </span>
                    </div>
                    <% }) %>
                </div>
                <div class="artist__container a" id="mediumTermDivA" style="display: none;">
                    <% artistMedium.items.forEach(function(artist) { %>
                    <div class="artist">
                        <img src="<%= artist.images[0].url %> " alt="" class="artist__img">
                        <span class="artist__name">
                            <%= artist.name %>
                        </span>
                    </div>
                    <% }) %>
                </div>
                <div class="artist__container a" id="shortTermDivA" style="display: none;">
                    <% artistShort.items.forEach(function(artist) { %>
                    <div class="artist">
                        <img src="<%= artist.images[0].url %> " alt="" class="artist__img">
                        <span class="artist__name">
                            <%= artist.name %>
                        </span>
                    </div>
                    <% }) %>
                </div>
            </div>

        </main>

        <main class="content" id='recentSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Recently Played Tracks</h2>

                </div>
                <div class="track__container">
                    <% recents.items.forEach(function(recent) { %>
                    <div class="track__li">
                        <img src="<%= recent.track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= recent.track.name %></span>
                            <span class="track__name-artists"> <%= recent.track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= recent.track.album.name %> </span>
                        </div>
                    </div>
                    <% }) %>



                </div>
            </div>
        </main>

        <main class=" content" id='playlistSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Your Playlists</h2>

                </div>
                <% if (playlists.items.length!=0) { %>
                <div class="artist__container">

                    <% playlists.items.forEach(function(playlist) { %>
                    <div class="artist">


                        <img src="<% if (playlist.images.length >0) { %>
                <%= playlist.images[0].url %> 
            <% } %> " alt="" class="artist__img playlist">
                        <span class="artist__name playlist">
                            <%=playlist.name %>
                        </span>
                        <span class="trackTotal"><%= playlist.tracks.total %> TRACKS</span>
                    </div>
                    <% }) %>


                </div>

                <% } %>


            </div>

        </main>
    </div>
    <script src="/scripts/index.js"></script>
</body>

</html>