<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify profile</title>
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/067bd4d624.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <section id="nav">
        <div class="nav">
            <div class="nav__container">
                <div class="nav__header">
                    <div class="nav__header__container">
                        <i class="fab fa-spotify nav__header--icon"></i> <span class="nav__header--title">Spotify</span>
                    </div>

                </div>
                <input type="text" class="nav--searchbar" placeholder="search">
                <div class="nav__list">
                    <div class="nav__list__container"><a href=""><i class="fas fa-user"></i> Top Artist</a></div>
                    <div class="nav__list__container"><a href=""><i class="fas fa-music"></i> Top Tracks</a></div>

                </div>
            </div>
        </div>
    </section> -->
    <div class="container">
        <nav class="sidebar">
            <img src="https://cdn.iconscout.com/icon/free/png-256/spotify-11-432546.png" alt="" class="sidebar__logo">
            <div class="sidebar__link">
                <div class="sidebar__link-container active" id="profile">
                    <i class="fas fa-user sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Profile</span>
                </div>
                <div class="sidebar__link-container" id='top-tracks'>
                    <i class="fas fa-music sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Top Tracks</span>
                </div>
                <div class="sidebar__link-container" id='top-artists'>
                    <i class="fas fa-guitar sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Top Artist</span>
                </div>
                <div class="sidebar__link-container" id="recent">
                    <i class="fas fa-history sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Recent</span>
                </div>
                <div class="sidebar__link-container" id='playlist'>
                    <i class="fas fa-list-alt sidebar__link-icon"></i>
                    <span class="sidebar__link-text">Playlist</span>
                </div>

            </div>

        </nav>


        <main class="content" id="profileSec">
            <section class="profile">
                <div class="profile__container">
                    <img src="<%= user.images[0].url %> " alt="" class="profile__image">
                    <h1 class="profile__name"><%= user.display_name %> </h1>

                    <div class="profile__info">
                        <div class="profile__info-container">
                            <div class="profile__info-number"><%= user.followers.total %> </div>
                            <div class="profile__info-title">Followers</div>
                        </div>
                        <div class="profile__info-container">
                            <div class="profile__info-number">14</div>
                            <div class="profile__info-title">Following</div>
                        </div>
                        <div class="profile__info-container">
                            <div class="profile__info-number">48</div>
                            <div class="profile__info-title">Playlists</div>
                        </div>
                        <div class="profile__info-logout">
                            <a href="" class="btn btn-primary large">Logout</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="top-stats">
                <div class="top-stats__container">
                    <div class="top-stats__heading">
                        <h1>Top Artists of All Time
                        </h1> <a href="" class="btn btn-primary small">See more</a>
                    </div>
                    <% var count = 0 %>
                    <% artistLong.items.forEach(function(artist) { %>

                    <% if (count<10) { %>
                    <div class="track__li">
                        <img src="<%= artist.images[2].url  %> " alt="" class="track__image-track">
                        <div class="track__name-container artist">
                            <span class="track__name-track"><%= artist.name %> </span>
                        </div>
                    </div>
                    <% count++;} %>

                    <% }) %>

                </div>
                <div class="track__container">
                    <div class="top-stats__heading">
                        <h1>Top Tracks of All Time
                        </h1> <a href="" class="btn btn-primary small">See more</a>
                    </div>
                    <% var count = 0 %>
                    <% trackLong.items.forEach(function(track) { %>
                    <% if (count<10) { %>
                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>
                    <% count++;} %>

                    <% }) %>

                </div>
            </section>
        </main>
        <main class=" content" id='top-tracksSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Top Tracks</h2>
                    <div class="top-nav__link ">Last 4 months </div>
                    <div class="top-nav__link">Last 6 months </div>
                    <div class="top-nav__link active">All Time </div>
                </div>
                <div class="track__container">

                    <% trackLong.items.forEach(function(track) { %>



                    <div class="track__li">
                        <img src="<%= track.album.images[2].url %>" alt="" class="track__image-track">
                        <div class="track__name-container">
                            <span class="track__name-track"><%= track.name %></span>
                            <span class="track__name-artists"> <%= track.album.artists[0].name %> &nbsp; . &nbsp;
                                <%= track.album.name %> </span>
                        </div>
                    </div>


                    <% }) %>

                </div>


        </main>

        <main class=" content" id='top-artistsSec' style="display: none;">
            <div class="tracks-full content__div">
                <div class="top-nav">
                    <h2 class="top-nav__heading"> Top Artists</h2>
                    <div class="top-nav__link ">Last 4 months </div>
                    <div class="top-nav__link">Last 6 months </div>
                    <div class="top-nav__link active">All Time </div>
                </div>
                <div class="artist__container">

                    <% artistLong.items.forEach(function(artist) { %>
                    <div class="artist">
                        <img src="<%= artist.images[0].url %> " alt="" class="artist__img">
                        <span class="artist__name">
                            <%= artist.name %>
                        </span>
                    </div>

                    <% }) %>


                </div>
            </div>

        </main>

        <main class="tracks-full content" id='recentSec' style="display: none;">
            <div class="top-nav">
                <h2 class="top-nav__heading"> Recently Played Tracks</h2>

            </div>
            <div class="track__container">
                <% recents.items.forEach(function(recent) { %>



                <div class="track__li">
                    <img src="<%= recent.track.album.images[2].url %>" alt="" class="track__image-track">
                    <div class="track__name-container">
                        <span class="track__name-track"><%= recent.track.name %></span>
                        <span class="track__name-artists"> <%= recent.track.album.artists[0].name %> &nbsp; . &nbsp;
                            <%= recent.track.album.name %> </span>
                    </div>
                </div>


                <% }) %>



            </div>

        </main>
    </div>
    <script src="/scripts/index.js"></script>
</body>

</html>